* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #008080;
    height: 95vh;
    margin: 0;
    padding: 0;
}

main img {
    position: absolute;
    top: 7%;
    left: 10%;
}

.generator-container {
    background-color: #c0c0c0;
    border: 5px solid #808080;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #404040;
    border-right-color: #404040;
    border-radius: 4px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    width: 300px;
    text-align: center;
}

h1 {
    padding: 20px 20px 20px 20px;
    border-bottom: 5px solid #404040;
    border-radius: 4px;
    font-family: Tahoma, sans-serif;
}

.pass {
    color: #003366;
    
}

.gen {
    color: #FFD700;
}

#password-form {
    background-color: #d3d3d3;
}

.form-group {
    padding-top: 20px;
   
}

#lenght {
    width: 25%;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="checkbox"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    background-color: #FFFFE0;
    color: #003366;
    border: 3px solid #808080;
    border-top-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #404040;
    border-right-color: #404040;
    border-radius: 2px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 50%;
    font-weight: 700;
}

button:hover {
    background-color: #FFD700;
}

.result {
    padding: 10px 0 10px 0;
    font-family: Tahoma, sans-serif;
    color: #4F4F4F;
    border-top: 5px solid #ffffff;
    border-radius: 4px;
}

#password {
    color: #FF4500;
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: bold;
    word-break: break-all;
    font-family: Tahoma, sans-serif;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Tahoma, sans-serif;
    background-color: #c0c0c0;
    border-top: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    border-right: 3px solid #404040;
    border-radius: 4px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.6);
    height: 5vh;
    margin: 0;
    padding: 0;
}

footer img {
    width: 40px;    
    height: 45px;
    padding-left: 1%;
}

h5 {
    padding-left: 14%;
}

h6 {
    padding-right: 1%;
}

.dev {
    font-family: "Anonymous Pro", monospace;
    color: #ff0000;
    font-size: 0.9rem;
}